{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.main_navigation: Items for the main menu region.
 * - page.header: Items for the header region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<!--header-->
<header id="header" class="navbar-fixed-top">
  <nav class="navbar navbar-inverse " role="banner">
    <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          {{ page.logo }}
      </div>

      <div class="collapse navbar-collapse navbar-right">
         {{ page.header }}
      </div>

    </div><!--/.container-->
  </nav><!--/nav-->

</header>
<!--/header-->

{{ page.home_banner }}

{{ page.home_search }}

{{ page.content_middle }}

{{ page.home_timelines }}

{{ page.home_exhibitions }}

<section id="conatcat-info">
  <div class = "row no-container-row">
    {{ page.content_bottom }}
    {{ feedback }}
  </div>
  <div class="clearfix"></div>
</section>
<!--/#conatcat-info-->

<section id="bottom">
  <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
    <div class="row">

        <div class="col-md-3 col-sm-6">
          <div class="widget">
          {{ page.footer_first_column}}
          </div>
        </div><!--/.col-md-3-->

        <div class="col-md-3 col-sm-6">
          <div class="widget">
            {{ page.footer_second_column}}
          </div>
        </div><!--/.col-md-3-->

        <div class="col-md-3 col-sm-6">
          <div class="widget">
            {{ page.footer_third_column}}
          </div>
        </div><!--/.col-md-3-->
    </div>
  </div>
</section><!--/#bottom-->

<footer id="footer" class="midnight-blue {{ user_class }}">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        {{ page.bottom_footer_first}}
      </div>
      <div class="col-sm-6">
        {{ page.bottom_footer_second}}
      </div>
    </div>
  </div>
</footer><!--/#footer-->



<!-- Quiz modal -->
<div class="modal fade quick-quiz" id="launchquiz" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
          {% trans %}
            A Short Quiz on Sardar Patel
          {% endtrans %}
        </h4>
      </div>
      <div class="modal-body">
        <div class = "quiz-image">
          <img src = "{{ directory }}/images/sardar_favicon.png" class = "img-responsive">
        </div>
        {{ page.home_quiz }}
      </div>
    </div>
  </div>
</div>
