{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content is not empty %}
  <div class = "search-filter hidden">
    {{ content }}
    <div class="clearfix"></div>
  </div>
  <button class="triggersearchfilter"><i class="fa fa-filter" aria-hidden="true"></i> &nbsp;
    {% trans %}
      Show filters
    {% endtrans %}
  </button>
  <div class="clearfix"></div>
{% endif %}
